<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример страницы</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Пример таблицы</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Количество заказов</th>
            <th>Дата отправки</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Книги</td>
            <td>50</td>
            <td>01.02.2023</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Тетради</td>
            <td>20</td>
            <td>15.10.2021</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Пеналы</td>
            <td>10</td>
            <td>01.01.2022</td>
        </tr>
    </table>
</body>
</html>
